flow-content {
  column-gap: var(--space-gutter);
  display: grid;
  font: var(--font-body);
  grid-template-columns: var(--container-columns);
  letter-spacing: -0.0125em;
  margin: 0 auto;
  margin-block-end: var(--space-gutter);
  padding-block: var(--space-gutter);

  > * {
    grid-column: content;
    margin-block-start: 1lh;
  }

  li + li,
  li > * + * {
    margin-block-start: 0.5lh;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ol,
  ul,
  dl {
    max-inline-size: var(--measure);
  }

  h2 {
    color: var(--color-on-surface-variant);
    font: var(--font-heading);
  }

  hr + h2 {
    grid-column: bleed-start / content-start;
  }

  *:not(hr) + h2 {
    margin-block-start: 3lh;
  }

  h3 {
    font: var(--font-subhead);
    margin-block-start: 2lh;
  }

  li:has(> h3)::marker {
    font: var(--font-subhead);
  }

  li:first-child > h3 {
    margin-block-start: 0;
  }

  hr {
    background: var(--background-rule);
    block-size: 64px;
    border: 0;
    grid-column: bleed;
    inline-size: 100%;
    margin-block-end: 0;
    margin-block-start: 2lh;

    &:nth-of-type(6n + 2) {
      background-position: left -64px;
    }

    &:nth-of-type(6n + 3) {
      background-position: left -128px;
    }

    &:nth-of-type(6n + 4) {
      background-position: left -192px;
    }
  }

  li,
  dd {
    margin-inline-start: var(--space-gutter);
  }

  blockquote {
    border-left: var(--border-width-thin) solid var(--color-rule);
    padding-inline-start: var(--space-gutter);
  }

  figure blockquote {
    font: var(--font-lede);
  }

  figure:has(figcaption) {
    display: grid;
    grid-column: bleed;
    grid-template-columns: subgrid;

    img {
      background-color: var(--color-surface-loud);
      border-radius: var(--border-radius);
      display: block;
      grid-column: bleed;
      inline-size: calc(100% - var(--space-gutter) - var(--space-gutter));
      max-block-size: 80vh;
      object-fit: contain;
      overflow: hidden;
      padding-block-start: var(--space-gutter);
      padding-inline: var(--space-gutter);
    }

    figcaption {
      color: var(--color-on-surface-variant);
      font: var(--font-caption);
    }

    &:has(img) figcaption {
      border-block-end: var(--border-width-thin) solid var(--color-rule);
      grid-column: content;
      grid-row: 2;
      margin-block-end: var(--space-gutter);
      padding-block: var(--space-inset);
    }
  }
}
