{% macro caseStudies(params) %}
<section class="case-studies">
  <h2>{{ params.title | markdown("inline") }}</h2>
  <ul role="list">
  {% for item in params.items %}
    <li>
      <h3>
      {% if item.href %}
        <a href="{{ item.href }}">{{ item.title | markdown("inline") }}</a>
      {% else %}
        {{ item.title | markdown("inline") }}
      {% endif %}
      </h3>
      <p>{{ item.org | markdown("inline") }}</p>
      {{ item.summary | markdown }}
    </li>
  {% endfor %}
  </ul>
</section>
{% endmacro %}
