{% macro contentinfo() %}
<footer class="contentinfo">
  <h2>{{ app.name }}</h2>
  <p>
    Studio 21, Metal Box Factory<br>
    30 Great Guildford Street<br>
    London<br>
    <a href="https://maps.app.goo.gl/Tr3XmbHWHHXmpAXV8">SE1 0HS</a>
  </p>
  <p><a href="mailto:hello@goodmachine.team">hello@goodmachine.team</a></p>
  <p><small>© Good Machine Limited Company number 12717305. Registered in England and Wales</small></p>
</footer>
{% endmacro %}
