<footer class="c-contentinfo u-container">
  <h2>{{ app.name }}</h2>
  <p>Studio 21, Metal Box Factory<br>30 Great Guildford Street<br>London<br>SE1 0HS</p>
  <p><a href="mailto:hello@goodmachine.team">hello@goodmachine.team</a></p>
  <p><small>© Good Machine Limited Company number 12717305. Registered in England and Wales</small></p>
</footer>
